.slider-main
    ul.slider-info
        each index in items
            li.slider-info__box
                .slider-info__title= index.name
                .slider-info__description= index.desc
                .slider-info__button
                    a.slider-info__link(href=`${index.plinks}`) Посмотреть сайт
    .slider-imgs__box
        ul.slider-imgs__lists
            each index in items
                li.slider-imgs__list-item
                    img.slider-imgs__img(src=`${index.picture}`)
    .slider-imgs__nav
        .slider-imgs__down
            .slider-imgs__inner
                svg.button-down__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                    use(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')

            ul.slider-imgs__list
                each index in items
                    li.slider-imgs__list-item
                        img.slider-imgs__navimg(src=`${index.picture}`)
        .slider-imgs__up
            .slider-imgs__inner
                svg.button-up__svg(preserveaspectratio='xMaxYMax meet', viewbox='0 0 25.18 16.164')
                    use(xlink:href='assets/img/sprite/sprite/img.svg#arrow_down')

            ul.slider-imgs__list
                each index in items
                    li.slider-imgs__list-item
                        img.slider-imgs__navimg(src=`${index.picture}`)


